.venv/
__pycache__/
runs_*/
runs_local/
runs_debug_small/
runs_local_gray
runs_local_rgb
logs/
*.log
data/
data2025/
data2025_sample/
*.pt
*.pth
*.ckpt
.DS_Store
data_RGB.zip
# large data
*.zip
*.pt
*.ckpt
data*/
runs*/
logs/
